export mailbox_username=lyze@mailbox.org
export mailbox_from=lyze@owl.sh
export mailbox_password="$(pass show private/mailbox.org/lyze@mailbox.org | head -n 1)"
export mailbox_smtp_host=smtp.mailbox.org
export mailbox_smtp_port=587
export mailbox_imap_host=imap.mailbox.org
export mopidy_username=lyze237
export mopidy_password="$(pass show private/spotify.com/lyze237 | head -n 1)"
export mopidy_client_id=
export mopidy_client_secret=
