[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[7E6AD32820ED7C70]
row=2
col=0

[9E181FBC181F91FF]
row=0
col=0

[58EF881B188F3C47]
row=1
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/lyze]
row=5
col=0

